@{
    ViewBag.Title = "Home Page";
}

<div class="landingjumbotron">

</div>

<div class="contianer">
    <div class="row">
        <div class="col-med-12 text-center">
            <br />@Html.ActionLink("Learn More!", "Index", "Action", null, new { @class = "btn btn-success btn-lg" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <h1 class="fontchange">Faith</h1>
        <p>
            <img class="img-circle img-responsive" src="~/Content/Images/scripture_study.jpg" />
        </p>
    </div>
    <div class="col-md-3 text-center">
        <h1 class="fontchange">Hope</h1>
        <p>
            <img class="img-circle img-responsive" src="~/Content/Images/christus_statue_temple_square_salt_lake_city.jpg" />
        </p>
    </div>
    <div class="col-md-3  text-center">
        <h1 class="fontchange">Charity</h1>
        <p>
            <img class="img-circle & img-responsive" src="~/Content/Images/charity.jpg" />
        </p>
    </div>
    <div class="col-md-3 text-center">
        <h1 class="fontchange">Love</h1>
        <p>
            <img class="img-circle & img-responsive" src="~/Content/Images/jesus_love.jpg" />
        </p>
    </div>
</div>